---
import Layout from '../layouts/Layout.astro' 
import {Image} from 'astro:assets'


let res = await fetch("https://homolog.plyn.com.br/revista-novo/wp-json/wp/v2/posts")
let posts = await res.json();

import teste from "../imgs/teste.jpg"




---

<Layout title="Welcome to Astro.">
	<Image src={teste} alt='anuncio' />
	<main> 
		{
			posts.map( ( p )=>(
				<article class="bebas">
					<a href={p.slug}>
						 {p.title.rendered}
					</a>
				</article>
			) )
		}
	</main>
</Layout>

<style is:global>	  


</style>
